<configuration>
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%d{HH:mm:ss.SSS} - logback: </pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%thread] jstp: %msg</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="logcat" />
    </root>
</configuration>